<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Brands
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">
                    Update Brands
                </div>
                <div class="card-body">
                    <form @submit.prevent="editListBrands()">
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Select Brand</label>
                                <select v-model="brand" class="form-control">
                                    <option v-for="item in data" :key="item.id" :value="item.id" >{{ item.name }}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="inputEmail4">Select List</label>
                                <select v-model="list" class="form-control">
                                    <option v-for="list in lists" :key="list.id" :value="list.file_name" >{{ list.file_name  }} ({{ list.file_count }})</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <!-- <input type="text" class="form-control w-25" v-model="query"   placeholder="Search Clients"  v-on:keyup="searchAfterDebounce"> -->
                    <button @click="addData()" data-toggle="modal" data-target="#datamodal" class="btn btn-outline-primary shadow" style="float: right;">New Brand</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="4">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="10" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="item in data" v-bind:key="item.id">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.created_at | formattedDateTime }}</td>
                                    <td>
                                        <button @click="editData(item)" data-toggle="modal" data-target="#datamodal" class="btn btn-icon text-warning"><i class="fas fa-edit"></i></button>
                                        <button v-if="item.role != 'admin'" @click="deleteData(item.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- <nav>
                            <ul class="pagination justify-content-center mt-4">
                                <pagination :limit="10" :data="datas" @pagination-change-page="fetchdatas"></pagination>
                            </ul>
                        </nav> -->

                    </div>
                </div>
            </div>
        </div>

        <!-- Data Modal -->
        <div class="modal fade bd-example-modal-lg" id="datamodal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Detail</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <form @submit.prevent="addOrEditData()" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">Name</label>
                                    <input required v-model="formData.name" class="form-control form-control-solid"
                                         type="text" placeholder="Enter Name">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="button"
                                data-dismiss="modal">Close</button><button class="btn btn-success btn-lg"
                                type="submit">Add/Update</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    // Vue.component('pagination', require('laravel-vue-pagination'));

    export default {
        
        data() {
            return {
                isloading: true,
                data: {},
                formData: {
                    id: '',
                    name: '',
                },
                brand: null,
                csv: null,
                lists: {},
			    list: null,
                // query:'',
                // pagination: {},
                // count: '',
                editMode: false,
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchData();
        },

        methods: {
            
            fetchData() {
                this.isloading = true;
                axios.get(this.$host_url + '/brands')
                .then(res => {
                    this.isloading = false;
                    this.data = res.data;
                })

                axios.get(this.$host_url + '/lists')
				.then(res => {
					this.lists = res.data;
				})
				.catch(error => {
					alert(error.response.data.message);
				})
            },

            editListBrands() {
                if(this.brand == null || this.list == null) {
                    alert("Invalid data");
                    return;
                }
                let listBrands = new FormData();
                listBrands.append('brand', this.brand);
                listBrands.append('list', this.list);

                axios.post(this.$host_url + `/lists/brand`,
                    listBrands, {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(res => {
                    this.brand = null;
                    this.list = null;
                    Swal.fire(
                        'Success!',
                        'Data updated successfully!',
                        'success'
                    )
                    this.fetchData();
                })
                .catch(error => {
                    alert(error.response.data.message);
                });
            },

            addOrEditData() {
                if(this.editMode == true) {
                    let editData = new FormData();
                    editData.append('name', this.formData.name);

                    axios.post(this.$host_url + `/brands/${this.formData.id}`,
                        editData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        }
                    )
                    .then(res => {
                        $('#datamodal').modal('hide')
                        this.formData.name = '';
                        Swal.fire(
                            'Success!',
                            'Data updated successfully!',
                            'success'
                        )
                        this.fetchData();
                    })
                    .catch(error => {
                        alert(error.response.data.message);
                    });
                }
                else if(this.editMode == false) {
                    let newData = new FormData();
                    newData.append('name', this.formData.name);

                    axios.post(this.$host_url + '/brands',
                        newData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        }
                    )
                    .then(data => {
                        $('#datamodal').modal('hide')
                        Swal.fire(
                            'Success!',
                            'Data added successfully!',
                            'success'
                        )
                        this.fetchData();
                    })
                    .catch(error => {
                        alert(error.response.data.message);
                        this.fetchData();
                    });
                }
            },

            addData() {
                this.editMode = false;
                this.formData.id = '';
                this.formData.name = '';
            },

            editData(item) {
                this.editMode = true;
                this.formData.id = item.id;
                this.formData.name = item.name;
            },

            deleteData(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/brands/${id}`)
                        .then(res => {
                            Swal.fire(
                                'Success!',
                                'Data deleted successfully!',
                                'success'
                            )
                            this.fetchData();
                        })
                        .catch(error => {
                            alert(error.response.data.message);
                            this.fetchData();
                        });
                }
            },

            // //asyncdata
            // searchAfterDebounce: _.debounce(
            // function() {
            //     this.isloading = true;
            //     this.search();
            // },
            // 500 // 500 milliseconds
            // ),

            //search data
            // search() {
            //     if (this.query.length > 1) {
            //         axios.get(this.$host_url + "/datas/search?search="+ this.query)
            //         .then(res => {
            //             this.isloading = false;
            //             this.datas = res;
            //         });
            //     } else {
            //         this.isloading = false;
            //         this.fetchData();
            //     }
            // },
        },
    }
</script>

<style>

</style>