<template>
	<div>
		<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
			<div class="container">
				<div class="page-header-content pt-4">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto mt-4">
							<h1 class="page-header-title">
								<div class="page-header-icon"><i data-feather="star"></i></div>
								Messages
							</h1>
							<div class="page-header-subtitle">New Message</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	<div class="container mt-n10">
		<div class="card">
		  	<div class="card-header">New Message</div>
		  	<div class="card-body">
				<form @submit.prevent="sendMessage()">
					<!-- <div class="form-row justify-content-center">
						<div class="form-group">
							<label for="inputEmail4">Select Twilio Number</label>
							<select v-model="twilioNumber" class="form-control">
								<option v-for="number in twilioNumbers" :key="number.id" :value="number" >{{ number }}</option>
							</select>
						</div>
					</div> -->
					<div class="form-row justify-content-center">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Select Twilio Number</label>
							<select v-model="twilioNumber" class="form-control">
								<option v-for="number in twilioNumbers" :key="number.id" :value="number" >{{ number }}</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Send SMS to</label>
							<input type="text" class="form-control" v-model="number">
						</div>
					</div>
					<div class="form-row justify-content-center">
						<div class="form-group col-md-6">
							<label for="inputEmail4">Select List</label>
							<select v-model="list" class="form-control">
								<option v-for="list in lists" :key="list.id" :value="list.file_name" >{{ list.file_name  }} ({{ list.file_count }})</option>
							</select>
						</div>
					</div>
					<div class="form-row justify-content-center">
						<div class="form-group">
							<label for="inputEmail4">Message</label>
							<textarea required class="form-control" v-model="message" cols="50" rows="10"></textarea>
						</div>
					</div>
					<div class="row justify-content-center">
						<button type="submit" class="btn btn-primary">Send</button>
					</div>
				</form>
		  	</div>
		</div>
	</div>
	<loading
		:active.sync="isLoading" 
		:can-cancel="false"
		:is-full-page="fullPage">
	</loading>
  	</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {

	data() {
		return {
			message: '',
			isLoading: false,
			fullPage: true,
			addNumber: 0,
			number: null,
			lists: {},
			list: '',
			twilioNumbers: '',
			twilioNumber: null,
		}
	},

	// props: [
	//   'twilioNumbers'
	// ],

	components: {
	  	Loading
	},

	created() {
		this.fetchInfo();
		this.fetchTwilioNumbers();
		// this.phoneNumbers = JSON.parse(this.twilioNumbers);
		// console.log(JSON.parse(this.twilioNumbers));
	},

	methods: {
		fetchInfo() {
			axios.get(this.$host_url + '/lists')
				.then(res => {
					this.lists = res.data;
				})
				.catch(error => {
					alert(error.response.data.message);
				})  
		},

		sendMessage() {
		  
			this.isLoading = true; 
			
			if(this.message == " ") {
				this.message = null;
			}

			let messageData = new FormData();
			messageData.append('message', this.message);
			messageData.append('number', this.number);
			messageData.append('list', this.list);
			messageData.append('twilioNumber', this.twilioNumber);

			console.log(this.number);

			axios.post(this.$host_url + '/sms/send',
				messageData, {
					headers: {
						'content-type': 'multipart/form-data'
					}
				}
			)
			.then(data => {
				this.isLoading = false;
				Swal.fire(
					'Success!',
					'SMS sent successfully!',
					'success'
				)
			})
			.catch(error => {
				this.isLoading = false;
				alert(error.response.data.message);
			})  
		},

		fetchTwilioNumbers() {
			axios.get('/twilio/numbers')
			.then(res => {
				// this.twilioNumbers = res.data[res.data.length - 1];
				this.twilioNumbers = res.data;
			})
			.catch(error => {
				alert(error.response.data.message);
			}) 
		}
	}
}
</script>

<style>

</style>