<template>
  <div>
      <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                File Upload
                            </h1>
                            <div class="page-header-subtitle">Upload CSV</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <!-- <div class="card">
                <div class="card-header">Import CSV and Verify</div>
                <div class="card-body">
                    <form @submit.prevent="importCsv()">
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Select Brand</label>
                                <select v-model="brand" class="form-control">
                                    <option v-for="item in brands" :key="item.id" :value="item.id" >{{ item.name }}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="inputEmail4">Import CSV and Verify</label>
                                <b-form-file accept=".csv" v-model="csv" :state="Boolean(csv)"
                                        placeholder="Choose a file or drop it here..."
                                        drop-placeholder="Drop file here...">
                                </b-form-file>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary">Verify</button>
                        </div>
                    </form>
                </div>
            </div> -->
            <div class="card mt-3">
                <div class="card-header">Upload CSV</div>
                <div class="card-body">
                    <form @submit.prevent="importCsvWithoutVerifying()">
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Select Brand</label>
                                <select v-model="brand" class="form-control">
                                    <option v-for="item in brands" :key="item.id" :value="item.id" >{{ item.name }}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="inputEmail4">Upload CSV</label>
                                <b-form-file accept=".csv" v-model="csv" :state="Boolean(csv)"
                                        placeholder="Choose a file or drop it here..."
                                        drop-placeholder="Drop file here...">
                                </b-form-file>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <loading
        :active.sync="isLoading" 
        :can-cancel="false"
        :is-full-page="fullPage">
    </loading>

  </div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {

    data() {
        return {
            csv: null,
            valid: false,
            isLoading: false,
            fullPage: true,
            brands: {},
            brand: '1',
        }
    },

    components: {
      Loading
    },

    created() {
        this.fetchBrands();
    },

    methods: {
        importCsv() {
                this.isLoading = true;
                let csvData = new FormData();
                csvData.append('csv', this.csv);
                csvData.append('brand', this.brand);

                axios.post(this.$host_url + '/csv/import',
                        csvData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        this.isLoading = false;
                        if(data.data.status == false) {
                            Swal.fire({
                                title: 'Error!',
                                text: data.data.message,
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay!'
                            })
                        }
                        else {
                            Swal.fire({
                                title: 'Success!',
                                text: "File Uploaded and Verified Successfully!",
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay!'
                            })
                        }
                        // if(typeof data.data.message !== 'undefined') {
                        //     if(data.data.status == false) {
                        //         alert(data.data.message);
                        //     }
                        // }
                        // else {
                        //     Swal.fire(
                        //         'Success!',
                        //         'File Uploaded and Verified Successfully!',
                        //         'success'
                        //     )
                        // }
                    })
                    .catch(error => {
                        this.isLoading = false;
                        alert(error.response.data.message);
                    })
                
            },

            importCsvWithoutVerifying() {
                this.isLoading = true;
                let csvData = new FormData();
                csvData.append('csv', this.csv);
                csvData.append('brand', this.brand);

                axios.post(this.$host_url + '/csv/import/withoutverifying',
                        csvData, {
                            headers: {
                                'content-type': 'multipart/form-data'
                            }
                        })
                    .then(data => {
                        this.isLoading = false;
                        if(data.data.status == false) {
                            Swal.fire({
                                title: 'Error!',
                                text: data.data.message,
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay!'
                            })
                        }
                        else {
                            Swal.fire({
                                title: 'Success!',
                                text: "File Uploaded Successfully!",
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay!'
                            })
                        }
                        // Swal.fire(
                        //   'Success!',
                        //   'File Uploaded Successfully!',
                        //   'success'
                        // )
                        // Swal.fire({
                        //     title: 'Success!',
                        //     text: data.data.message,
                        //     icon: 'success'
                        // })
                    })
                    .catch(error => {
                        this.isLoading = false;
                        alert(error.response.data.message);
                    })
            },

        fetchBrands() {
            axios.get(this.$host_url + '/brands')
          .then(res => {
            this.brands = res.data;
          })
          .catch(error => {
            alert(error);
          }) 
        }
    }
}
</script>

<style>

</style>