<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Replies
                            </h1>
                            <div class="page-header-subtitle">A list of all the replies</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All Replies
                    <input type="text" class="form-control w-25" v-model="query"   placeholder="Search Replies"  v-on:keyup="searchAfterDebounce">
                    <button @click="refresh()" class="btn btn-primary" style="float: right;"><i class="fas fa-sync-alt"></i></button>
                    <button v-if="multipleReplies.length > 0" @click="deleteReply()" class="btn btn-danger mr-3" style="float: right;"><i class="fas fa-trash"></i></button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Body</th>
                                    <th>Name</th>
                                    <th>Number</th>
                                    <th>Email</th>
                                    <th>Brand</th>
                                    <th>File name</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="9">
                                        <content-placeholders :rounded="true">
                                            <content-placeholders-heading :img="true" />
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="reply in replies.data" v-bind:key="reply.id">
                                    <td style ="word-break:break-all;">{{ reply.id }}</td>
                                    <td style ="word-break:break-all;">{{ reply.body }}</td>
                                    <td style ="word-break:break-all;">{{ reply.name }}</td>
                                    <td style ="word-break:break-all;">{{ reply.number }}</td>
                                    <td style ="word-break:break-all;">{{ reply.email }}</td>
                                    <td style ="word-break:break-all;">{{ reply.brand ? reply.brand.name : '-' }}</td>
                                    <td style ="word-break:break-all;">{{ reply.file_name }}</td>
                                    <td style ="word-break:break-all;">{{ reply.created_at | formattedDateTime }}</td>
                                    <td style ="word-break:break-all;">
                                        <input type="checkbox" :value="reply.id" :key="reply.id" v-model="multipleReplies">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <nav>
                            <ul class="pagination justify-content-center mt-4">
                                <pagination :limit="10" :data="replies" @pagination-change-page="fetchReplies"></pagination>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                replies: {},
                multipleReplies: [],
                pagination: {},
                query:'',
                currentPage: '',
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchReplies();
        },

        methods: {
            
            fetchReplies(page = 1) {
                this.currentPage = page;
                this.isloading = true;
                axios.get(this.$host_url + `/replies?page=${page}`)
                    .then(res => {
                        this.isloading = false;
                        this.replies = res.data.replies;
                    })
            },

            deleteReply() {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    console.log(this.multipleReplies);
                    let replyForm = new FormData();
                    for (var i = 0; i < this.multipleReplies.length; i++) {
                        replyForm.append('reply_id[]', this.multipleReplies[i]);
                    }
                    // replyForm.append('number', number);
                    
                    axios.post(this.$host_url + '/reply/delete',
                    replyForm, {
                        headers: {
                            'content-type' : 'multipart/form-data'
                        }
                    })
                        .then(res => {
                            Swal.fire(
                                'Success!',
                                'Replies deleted successfully!',
                                'success'
                            )
                            this.multipleReplies = [];
                            this.fetchReplies(this.currentPage);
                        })
                        .catch(error => alert(error));
                }
            },

            //asyncdata
            searchAfterDebounce: _.debounce(
            function() {
                this.isloading = true;
                this.search();
            },
            500 // 500 milliseconds
            ),

            //search data
            search() {
                if (this.query.length > 1) {
                    axios.get(this.$host_url + "/replies/search?search="+ this.query)
                    .then(res => {
                        this.isloading = false;
                        this.replies = res;
                    });
                } else {
                    this.isloading = false;
                    this.fetchReplies();
                }
            },

            refresh() {
                this.fetchReplies();
            }
        },
    }
</script>

<style>

</style>