<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                Subscribers
                            </h1>
                            <div class="page-header-subtitle">Total Subscribers: {{ count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">
                    <input type="text" class="form-control w-25" v-model="query"   placeholder="Search Clients"  v-on:keyup="searchAfterDebounce">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Number</th>
                                    <th>Brand</th>
                                    <th>Valid</th>
                                    <th>File Name</th>
                                    <th>Line Type</th>
                                    <th>Location</th>
                                    <th>Local Format</th>
                                    <th>International Format</th>
                                    <th>Country Name</th>
                                    <th>Carrier</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="13">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="10" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="subscriber in subscribers.data" v-bind:key="subscriber.id">
                                    <td>{{ subscriber.id }}</td>
                                    <td>{{ subscriber.name }}</td>
                                    <td>{{ subscriber.email }}</td>
                                    <td>{{ subscriber.number }}</td>
                                    <td v-if="subscriber.brand !== null">{{ subscriber.brand.name }}</td>
                                    <td v-else>-</td>
                                    <td>{{ subscriber.valid == 1 ? 'Yes' : 'No' }}</td>
                                    <td>{{ subscriber.file_name }}</td>
                                    <td>{{ subscriber.line_type }}</td>
                                    <td>{{ subscriber.location }}</td>
                                    <td>{{ subscriber.local_format }}</td>
                                    <td>{{ subscriber.international_format }}</td>
                                    <td>{{ subscriber.country_name }}</td>
                                    <td>{{ subscriber.carrier }}</td>
                                    <td>{{ subscriber.created_at | formattedDateTime }}</td>
                                    <td>
                                        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                data-feather="more-vertical"></i></button>
                                        <button v-if="subscriber.role != 'admin'" @click="deletesubscriber(subscriber.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <nav>
                            <ul class="pagination justify-content-center mt-4">
                                <pagination :limit="10" :data="subscribers" @pagination-change-page="fetchSubscribers"></pagination>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    Vue.component('pagination', require('laravel-vue-pagination'));

    export default {
        
        data() {
            return {
                isloading: true,
                subscribers: {},
                query:'',
                pagination: {},
                count: '',
            }
        },
        
        mounted() {
            
        },

        created() {
            this.fetchSubscribers();
        },

        methods: {
            
            fetchSubscribers(page = 1) {
                this.isloading = true;
                axios.get(this.$host_url + `/subscribers/paginated?page=${page}`)
                    .then(res => {
                        this.isloading = false;
                        this.subscribers = res.data.subscribers;
                        this.count = res.data.count;
                    })
            },

            deletesubscriber(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/subscriber/delete/${id}`)
                        .then(res => {
                            alert('subscriber Deleted!');
                            this.fetchsubscribers();
                        })
                        .catch(error => alert(error));
                }
            },

            //asyncdata
            searchAfterDebounce: _.debounce(
            function() {
                this.isloading = true;
                this.search();
            },
            500 // 500 milliseconds
            ),

            //search data
            search() {
                if (this.query.length > 1) {
                    axios.get(this.$host_url + "/subscribers/search?search="+ this.query)
                    .then(res => {
                        this.isloading = false;
                        this.subscribers = res;
                    });
                } else {
                    this.isloading = false;
                    this.fetchSubscribers();
                }
            },
        },
    }
</script>

<style>

</style>