<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                totalSubscribers
                            </h1>
                            <div class="page-header-subtitle">A list of all the totalSubscribers</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card mb-4">
                <div class="card-header">All totalSubscribers
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Number</th>
                                    <th>Valid</th>
                                    <th>Line Type</th>
                                    <th>Location</th>
                                    <th>Local Format</th>
                                    <th>International Format</th>
                                    <th>Country Name</th>
                                    <th>Carrier</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="isloading">
                                    <td colspan="13">
                                        <content-placeholders :rounded="true">
                                            <!-- <content-placeholders-heading :img="true" /> -->
                                            <content-placeholders-text :lines="3" />
                                        </content-placeholders>
                                    </td>
                                </tr>
                                <tr v-else v-for="totalSubscriber in totalSubscribers" v-bind:key="totalSubscriber.id">
                                    <td>{{ totalSubscriber.id }}</td>
                                    <td>{{ totalSubscriber.name }}</td>
                                    <td>{{ totalSubscriber.email }}</td>
                                    <td>{{ totalSubscriber.number }}</td>
                                    <td>{{ totalSubscriber.valid == 1 ? 'Yes' : 'No' }}</td>
                                    <td>{{ totalSubscriber.line_type }}</td>
                                    <td>{{ totalSubscriber.location }}</td>
                                    <td>{{ totalSubscriber.local_format }}</td>
                                    <td>{{ totalSubscriber.international_format }}</td>
                                    <td>{{ totalSubscriber.country_name }}</td>
                                    <td>{{ totalSubscriber.carrier }}</td>
                                    <td>{{ totalSubscriber.created_at | formattedDateTime }}</td>
                                    <td>
                                        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                data-feather="more-vertical"></i></button>
                                        <button v-if="totalSubscriber.role != 'admin'" @click="deletetotalSubscriber(totalSubscriber.id)"
                                            class="btn btn-icon text-danger"><i
                                                class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data() {
            return {
                isloading: true,
                totalSubscribers: {},
            }
        },
        
        mounted() {
            
        },

        created() {
            // this.fetchtotalSubscribers();
        },

        methods: {
            
            fetchtotalSubscribers() {
                axios.get(this.$host_url + '/subscribers/all')
                    .then(res => {
                        this.isloading = false;
                        this.totalSubscribers = res.data.total_subscribers;
                        console.log(res.data.data);
                    })
            },

            deletetotalSubscriber(id) {
                if (confirm('Are You Sure?')) {
                    this.isloading = true;
                    axios.delete(this.$host_url + `/totalSubscriber/delete/${id}`)
                        .then(res => {
                            alert('totalSubscriber Deleted!');
                            this.fetchtotalSubscribers();
                        })
                        .catch(error => alert(error));
                }
            },
        },
    }
</script>

<style>

</style>