<template>
  <div>
      <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="star"></i></div>
                                File Verify
                            </h1>
                            <div class="page-header-subtitle">Verify CSV</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container mt-n10">
            <div class="card">
                <div class="card-header">Verify CSV</div>
                <div class="card-body">
                    <form @submit.prevent="importCsv()">
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Verify CSV</label>
                                <b-form-file accept=".csv" v-model="csv" :state="Boolean(csv)"
                                        placeholder="Choose a file or drop it here..."
                                        drop-placeholder="Drop file here...">
                                </b-form-file>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary">Verify</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="card">
                <div class="card-header">
                    Check Progress
                    <button @click="refresh()" v-if="showRefreshButton" class="btn btn-primary" style="float: right;"><i class="fas fa-sync-alt"></i></button>
                </div>
                <div class="card-body">
                    Verifying CSV:
                    {{ batch.processedJobs ? batch.processedJobs : 0 }} completed out of {{ batch.totalJobs ? batch.totalJobs : 0 }} ({{ batch.progress ? batch.progress : 0 }}%)
                </div>
            </div>
        </div>

    <loading
        :active.sync="isLoading" 
        :can-cancel="false"
        :is-full-page="fullPage">
    </loading>

  </div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {

    data() {
        return {
            csv: null,
            valid: false,
            isLoading: false,
            fullPage: true,
            batch: {},
            batchID: '',
            showRefreshButton: false,
        }
    },

    components: {
      Loading
    },

    created() {

    },

    methods: {
        importCsv() { 
            
            // window.open("/csv/download", "_blank"); return;
            this.isLoading = true;
            let csvData = new FormData();
            csvData.append('csv', this.csv);

            axios.post(this.$host_url + '/csv/verify',
                csvData, {
                    headers: {
                        'content-type': 'multipart/form-data'
                    }
                }
            )
            .then(res => {
                this.isLoading = false;
                if(res.data.status == false) {
                    Swal.fire({
                        title: 'Error!',
                        text: res.data.message,
                        icon: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Okay!'
                    })
                }
                else if (res.data.status == true) {
                    // window.open("/csv/download", "_blank");
                    // axios.get(this.$host_url + '/subscribers/verified/delete/all')
                    this.batchID = res.data.data.batch_id;
                    axios.get(this.$host_url + `/batch/initialize`)
                    .then(res => {
                        console.log("Batch initialized");
                    })
                    this.showRefreshButton = true;
                    Swal.fire({
                        title: 'File verified successfully!',
                        text: "Total: " + res.data.data.total_count + " Verified: " + res.data.data.verified_count + " Unverified: " + (res.data.data.total_count - res.data.data.verified_count),
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Okay!'
                    })
                    .then(res => {

                    })
                    .catch(error => {
                        alert(error);
                    })
                }
            })
            .catch(error => {
                this.isLoading = false;
                alert(error.response.data.message);
            })
                
        },

        checkBatchProgress() {
            axios.get(this.$host_url + `/batch/progress/${this.batchID}`)
            .then(res => {
                this.batch = res.data;
            })
        },

        refresh() {
            this.checkBatchProgress();
        }

        // importCsvWithoutVerifying() {
        //     this.isLoading = true;
        //     let csvData = new FormData();
        //     csvData.append('csv', this.csv);
        //     csvData.append('brand', this.brand);

        //     axios.post(this.$host_url + '/csv/import/withoutverifying',
        //             csvData, {
        //                 headers: {
        //                     'content-type': 'multipart/form-data'
        //                 }
        //             })
        //         .then(data => {
        //             this.isLoading = false;
        //             if(data.data.status == false) {
        //                 Swal.fire({
        //                     title: 'Error!',
        //                     text: data.data.message,
        //                     icon: 'error',
        //                     showCancelButton: false,
        //                     confirmButtonColor: '#3085d6',
        //                     confirmButtonText: 'Okay!'
        //                 })
        //             }
        //             else {
        //                 Swal.fire({
        //                     title: 'Success!',
        //                     text: "File Uploaded Successfully!",
        //                     icon: 'success',
        //                     showCancelButton: false,
        //                     confirmButtonColor: '#3085d6',
        //                     confirmButtonText: 'Okay!'
        //                 })
        //             }
        //             // Swal.fire(
        //             //   'Success!',
        //             //   'File Uploaded Successfully!',
        //             //   'success'
        //             // )
        //             // Swal.fire({
        //             //     title: 'Success!',
        //             //     text: data.data.message,
        //             //     icon: 'success'
        //             // })
        //         })
        //         .catch(error => {
        //             this.isLoading = false;
        //             alert(error.response.data.message);
        //         })
        // },
    }
}
</script>

<style>

</style>