<template>
    <div>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="star"></i></div>
                                    Example
                                </h1>
                                <div class="page-header-subtitle">Example</div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <div class="container mt-n10">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Example Component</div>

                        <div class="card-body">
                            I'm an example component.
                        </div>
                    </div>

                    <modal name="my-first-modal">
                        This is my first modal
                    </modal>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
            // this.$modal.show('my-first-modal');
        }
    }
</script>
